<div class="container" id="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/index.html">
        <i class="fas fa-robot"></i> RoboLearn
      </a>

      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <li class="nav-item">
            <a class="nav-link" href="/index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/index.html#aboutUs">About Us</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              Learning Material
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/template/topic1.html">Topic 1</a></li>
              <li><a class="dropdown-item" href="/template/topic2.html">Topic 2</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/template/quizPage.html">Quiz</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>
